*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-color: #0008;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: tomato; */
}

h1 {
    font-size: clamp(2.6rem, 8vw, 8rem);
    color: #fff;
    font-weight: 400;
}

p {
    font-size: clamp(1.2rem,4vw, 3rem);
    color: #fff;
    font-style: italic;
    font-weight: 400;
}

button {
    width: 200px;
    height: 40px;
    background-color: #FAE12C;
    font-weight: 400;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}